public/myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.services.kfg.ups.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.services.kfg.ups.com/" name="AdHocChangesImplService">
    <types>
        <xs:schema xmlns:tns="http://ws.services.kfg.ups.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.services.kfg.ups.com/">
			<xs:element name="adHocChangesResponse" type="tns:adHocChangesResponse"/>
			<xs:complexType name="adHocChangesResponse">
				<xs:sequence>
					<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
					<xs:element name="ResponseDesc" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
    </types>
    <message name="RefreshReasons" />
    <message name="RefreshReasonsResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="AddVGroup">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="AddVGroupResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteCategory">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteCategoryResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteItems">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteItemsResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="UpdateSubMenu">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="UpdateSubMenuResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="InsertSubMenu">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="InsertSubMenuResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="UpdateVGroup">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="UpdateVGroupResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshProvinces" />
    <message name="RefreshProvincesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshCities"><part name="ConceptId" type="xsd:int" /></message>
    <message name="RefreshCitiesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteVGroup">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteVGroupResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshDistricts" />
    <message name="RefreshDistrictsResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteSubMenu">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteSubMenuResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshAreas" >
	    <part name="ConceptId" type="xsd:int" />
	</message>
    <message name="RefreshAreasResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="UpdateItems">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="UpdateItemsResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshCountries" />
    <message name="RefreshCountriesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshStreets">
        <part name="AreaId" type="xsd:int" />
    </message>
    <message name="RefreshStreetsResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteSelector">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteSelectorResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteDoughType">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteDoughTypeResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="AddOrUpdateSize">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="AddOrUpdateSizeResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteSize">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteSizeResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshStoreData">
        <part name="ConceptId" type="xsd:int" />
    </message>
    <message name="RefreshStoreDataResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="UpdateStoreData">
        <part name="ConceptId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="UpdateStoreDataResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="AddModifierGroup">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="AddModifierGroupResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="AddItems">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="AddItemsResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshDistrictAreaMap" />
    <message name="RefreshDistrictAreaMapResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshFeedbackTypes" />
    <message name="RefreshFeedbackTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="AddOrUpdateDoughType">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="AddOrUpdateDoughTypeResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshStoreAreaMap">
        <part name="ConceptId" type="xsd:int" />
    </message>
    <message name="RefreshStoreAreaMapResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshNationalities" />
    <message name="RefreshNationalitiesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="UpdateStoreAreaMap">
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="UpdateStoreAreaMapResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshPaymentTypes" />
    <message name="RefreshPaymentTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="DeleteModifierGroup">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="SubMenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="DeleteModifierGroupResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="ItemAndModifierGroupMap">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="SubMenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="ItemAndModifierGroupMapResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshPhoneTypes" />
    <message name="RefreshPhoneTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshOrderTypes" />
    <message name="RefreshOrderTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshOrderStatusTypes" />
    <message name="RefreshOrderStatusTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="AddOrUpdateCategory">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="AddOrUpdateCategoryResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshCustomerGenders" />
    <message name="RefreshCustomerGendersResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshFeedbackSubTypes" />
    <message name="RefreshFeedbackSubTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshCustomerTypes" />
    <message name="RefreshCustomerTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshOrderModes" />
    <message name="RefreshOrderModesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="AddOrUpdateSelector">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="AddOrUpdateSelectorResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshCustomerTitles" />
    <message name="RefreshCustomerTitlesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshAddressTypes" />
    <message name="RefreshAddressTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="UpdateModifierGroup">
        <part name="ConceptId" type="xsd:int" />
        <part name="MenuId" type="xsd:int" />
        <part name="XMLInput" type="xsd:string" />
    </message>
    <message name="UpdateModifierGroupResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <message name="RefreshDiscountTypes" />
    <message name="RefreshDiscountTypesResponse">
        <part name="return" type="tns:adHocChangesResponse" />
    </message>
    <portType name="AdHocChanges">
        <operation name="RefreshReasons">
            <input message="tns:RefreshReasons" />
            <output message="tns:RefreshReasonsResponse" />
        </operation>
        <operation name="AddVGroup" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:AddVGroup" />
            <output message="tns:AddVGroupResponse" />
        </operation>
        <operation name="DeleteCategory" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:DeleteCategory" />
            <output message="tns:DeleteCategoryResponse" />
        </operation>
        <operation name="DeleteItems" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:DeleteItems" />
            <output message="tns:DeleteItemsResponse" />
        </operation>
        <operation name="UpdateSubMenu" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:UpdateSubMenu" />
            <output message="tns:UpdateSubMenuResponse" />
        </operation>
        <operation name="InsertSubMenu" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:InsertSubMenu" />
            <output message="tns:InsertSubMenuResponse" />
        </operation>
        <operation name="UpdateVGroup" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:UpdateVGroup" />
            <output message="tns:UpdateVGroupResponse" />
        </operation>
        <operation name="RefreshProvinces">
            <input message="tns:RefreshProvinces" />
            <output message="tns:RefreshProvincesResponse" />
        </operation>
        <operation name="RefreshCities">
            <input message="tns:RefreshCities" />
            <output message="tns:RefreshCitiesResponse" />
        </operation>
        <operation name="DeleteVGroup" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:DeleteVGroup" />
            <output message="tns:DeleteVGroupResponse" />
        </operation>
        <operation name="RefreshDistricts">
            <input message="tns:RefreshDistricts" />
            <output message="tns:RefreshDistrictsResponse" />
        </operation>
        <operation name="DeleteSubMenu" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:DeleteSubMenu" />
            <output message="tns:DeleteSubMenuResponse" />
        </operation>
        <operation name="RefreshAreas">
            <input message="tns:RefreshAreas" />
            <output message="tns:RefreshAreasResponse" />
        </operation>
        <operation name="UpdateItems" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:UpdateItems" />
            <output message="tns:UpdateItemsResponse" />
        </operation>
        <operation name="RefreshCountries">
            <input message="tns:RefreshCountries" />
            <output message="tns:RefreshCountriesResponse" />
        </operation>
        <operation name="RefreshStreets">
            <input message="tns:RefreshStreets" />
            <output message="tns:RefreshStreetsResponse" />
        </operation>
        <operation name="DeleteSelector" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:DeleteSelector" />
            <output message="tns:DeleteSelectorResponse" />
        </operation>
        <operation name="DeleteDoughType" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:DeleteDoughType" />
            <output message="tns:DeleteDoughTypeResponse" />
        </operation>
        <operation name="AddOrUpdateSize" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:AddOrUpdateSize" />
            <output message="tns:AddOrUpdateSizeResponse" />
        </operation>
        <operation name="DeleteSize" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:DeleteSize" />
            <output message="tns:DeleteSizeResponse" />
        </operation>
        <operation name="RefreshStoreData">
            <input message="tns:RefreshStoreData" />
            <output message="tns:RefreshStoreDataResponse" />
        </operation>
        <operation name="UpdateStoreData" parameterOrder="ConceptId XMLInput">
            <input message="tns:UpdateStoreData" />
            <output message="tns:UpdateStoreDataResponse" />
        </operation>
        <operation name="AddModifierGroup" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:AddModifierGroup" />
            <output message="tns:AddModifierGroupResponse" />
        </operation>
        <operation name="AddItems" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:AddItems" />
            <output message="tns:AddItemsResponse" />
        </operation>
        <operation name="RefreshDistrictAreaMap">
            <input message="tns:RefreshDistrictAreaMap" />
            <output message="tns:RefreshDistrictAreaMapResponse" />
        </operation>
        <operation name="RefreshFeedbackTypes">
            <input message="tns:RefreshFeedbackTypes" />
            <output message="tns:RefreshFeedbackTypesResponse" />
        </operation>
        <operation name="AddOrUpdateDoughType" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:AddOrUpdateDoughType" />
            <output message="tns:AddOrUpdateDoughTypeResponse" />
        </operation>
        <operation name="RefreshStoreAreaMap">
            <input message="tns:RefreshStoreAreaMap" />
            <output message="tns:RefreshStoreAreaMapResponse" />
        </operation>
        <operation name="RefreshNationalities">
            <input message="tns:RefreshNationalities" />
            <output message="tns:RefreshNationalitiesResponse" />
        </operation>
        <operation name="UpdateStoreAreaMap">
            <input message="tns:UpdateStoreAreaMap" />
            <output message="tns:UpdateStoreAreaMapResponse" />
        </operation>
        <operation name="RefreshPaymentTypes">
            <input message="tns:RefreshPaymentTypes" />
            <output message="tns:RefreshPaymentTypesResponse" />
        </operation>
        <operation name="DeleteModifierGroup" parameterOrder="ConceptId MenuId SubMenuId XMLInput">
            <input message="tns:DeleteModifierGroup" />
            <output message="tns:DeleteModifierGroupResponse" />
        </operation>
        <operation name="ItemAndModifierGroupMap" parameterOrder="ConceptId MenuId SubMenuId XMLInput">
            <input message="tns:ItemAndModifierGroupMap" />
            <output message="tns:ItemAndModifierGroupMapResponse" />
        </operation>
        <operation name="RefreshPhoneTypes">
            <input message="tns:RefreshPhoneTypes" />
            <output message="tns:RefreshPhoneTypesResponse" />
        </operation>
        <operation name="RefreshOrderTypes">
            <input message="tns:RefreshOrderTypes" />
            <output message="tns:RefreshOrderTypesResponse" />
        </operation>
        <operation name="RefreshOrderStatusTypes">
            <input message="tns:RefreshOrderStatusTypes" />
            <output message="tns:RefreshOrderStatusTypesResponse" />
        </operation>
        <operation name="AddOrUpdateCategory" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:AddOrUpdateCategory" />
            <output message="tns:AddOrUpdateCategoryResponse" />
        </operation>
        <operation name="RefreshCustomerGenders">
            <input message="tns:RefreshCustomerGenders" />
            <output message="tns:RefreshCustomerGendersResponse" />
        </operation>
        <operation name="RefreshFeedbackSubTypes">
            <input message="tns:RefreshFeedbackSubTypes" />
            <output message="tns:RefreshFeedbackSubTypesResponse" />
        </operation>
        <operation name="RefreshCustomerTypes">
            <input message="tns:RefreshCustomerTypes" />
            <output message="tns:RefreshCustomerTypesResponse" />
        </operation>
        <operation name="RefreshOrderModes">
            <input message="tns:RefreshOrderModes" />
            <output message="tns:RefreshOrderModesResponse" />
        </operation>
        <operation name="AddOrUpdateSelector" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:AddOrUpdateSelector" />
            <output message="tns:AddOrUpdateSelectorResponse" />
        </operation>
        <operation name="RefreshCustomerTitles">
            <input message="tns:RefreshCustomerTitles" />
            <output message="tns:RefreshCustomerTitlesResponse" />
        </operation>
        <operation name="RefreshAddressTypes">
            <input message="tns:RefreshAddressTypes" />
            <output message="tns:RefreshAddressTypesResponse" />
        </operation>
        <operation name="UpdateModifierGroup" parameterOrder="ConceptId MenuId XMLInput">
            <input message="tns:UpdateModifierGroup" />
            <output message="tns:UpdateModifierGroupResponse" />
        </operation>
        <operation name="RefreshDiscountTypes">
            <input message="tns:RefreshDiscountTypes" />
            <output message="tns:RefreshDiscountTypesResponse" />
        </operation>
    </portType>
    <binding name="AdHocChangesImplPortBinding" type="tns:AdHocChanges">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <operation name="RefreshReasons">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="AddVGroup">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteCategory">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteItems">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="UpdateSubMenu">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="InsertSubMenu">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="UpdateVGroup">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshProvinces">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshCities">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteVGroup">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshDistricts">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteSubMenu">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshAreas">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="UpdateItems">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshCountries">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshStreets">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteSelector">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteDoughType">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="AddOrUpdateSize">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteSize">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshStoreData">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="UpdateStoreData">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="AddModifierGroup">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="AddItems">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshDistrictAreaMap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshFeedbackTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="AddOrUpdateDoughType">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshStoreAreaMap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshNationalities">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="UpdateStoreAreaMap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshPaymentTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="DeleteModifierGroup">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="ItemAndModifierGroupMap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshPhoneTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshOrderTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshOrderStatusTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="AddOrUpdateCategory">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshCustomerGenders">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshFeedbackSubTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshCustomerTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshOrderModes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="AddOrUpdateSelector">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshCustomerTitles">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshAddressTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="UpdateModifierGroup">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
        <operation name="RefreshDiscountTypes">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://ws.services.kfg.ups.com/" />
            </output>
        </operation>
    </binding>
    <service name="AdHocChangesImplService">
        <port name="AdHocChangesImplPort" binding="tns:AdHocChangesImplPortBinding">
			<soap:address location="https://production.cravez.com/kfg_api" />
        </port>
    </service>
</definitions>